{% extends 'itec/base.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron">
    <br><br>
    <div class="container" style="text-align: center;">
    <h1 class="display-4" >Hai Admin</h1>
    <hr>
    <p class="lead">welcome to te.</p>
    <p>anda bisa mengakses beberapa fitur setelah anda login</p>
    <p class="lead">
        <a href="/adminsignup" role="button" class="btn btn-info">SignUp</a>
        <a href="/adminlogin" role="button" class="btn btn-primary">Login</a>
    </p>
    </div>
</div>

{% endblock content %}