{% extends 'itec/base.html' %}
{% block content %}

<head>
    <style media="screen">
        .jumbotron{
            margin-top: 0px;
            margin-bottom: 0px;
            background-color: silver;
            background-repeat: no-repeat;
        }
        
        .jumbotron h5,
        h3 {
            text-align: center;
        }


    </style>
</head>
<br>
<br>

<div class="jumbotron"  style="margin-bottom: 0px; margin-top: 0px;">
    <br>
    <marquee behavior="alternate" direction="up" scrollamount="3">
    <h5 class="display-3 glow">Welcome Bro & Sis</h5>
    </marquee>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br>
</div>

{% endblock content %}
