
{% extends 'itec/admin_base.html' %}
{% block content %}
<br><br><br>
<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <style media="screen">
    a:link {
      text-decoration: none;
    }
    h6{
      text-align:center;
    }
    .row{
      margin:70px;
    }
 
  </style>

</head>

<div class="container">
    	<div class="row" >
				<div class="panel panel-primary">
					<div class="panel-heading">
                      <h6 class="panel-title">Pendaftar</h6>                        
                    </div>
                    <br>
                    <table class="table table-hover table-striped table-bordered">
                      <tr>
                          <th width="10">No.</th>
                          <th width="100">Peserta</th>
                          <th width="100">Program</th>
                          <th width="50">is_register</th>
                          <th width="100">keterangan</th>
                     
                      </tr>
                      {% for pendaftar in pendaftarans %}
                          <tr>
                              <td>{{forloop.counter}}.</td>
                              <td>{{pendaftar.peserta}}</td>
                              <td>{{pendaftar.program}}</td>
                              <td>{{pendaftar.is_register}}</td>
                              <td>{{pendaftar.keterangan}}</td>                         
                          </tr>
                      {% endfor %}
                  </table>
            </div>
		</div>
</div>
{% endblock content %}
